/*
0px - 600px:        Phone
600px - 900px:      Tablet portrait
900px - 1200px:     Tablet landscape
1200px - 1800px:    Desktop  [is where our normal styles apply]
1800px+:            Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@keyframes enable {
  0% {
    transform: scale(1); }
  60% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif; }

.buildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0; }
  .buildControl > button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none; }
    .buildControl > button:disabled {
      background-color: #AC9980;
      border: 1px solid #7E7365;
      color: #ccc;
      cursor: default; }
    .buildControl > button:hover:disabled {
      background-color: #AC9980;
      color: #ccc;
      cursor: not-allowed; }
  .buildControl > .label {
    padding: 10px;
    font-weight: bold;
    width: 80px; }
  .buildControl > .less {
    background-color: #D39952;
    color: white; }
    .buildControl > .less:hover, .buildControl > .less:active {
      background-color: #DAA972; }
  .buildControl > .more {
    background-color: #8F5E1E;
    color: white; }
    .buildControl > .more:hover, .buildControl > .more:active {
      background-color: #99703F; }

.buildControls {
  width: 100%;
  background: #CF8F2E;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #CCC;
  margin: auto;
  padding: 10px 0; }

.orderButton {
  background-color: #DAD735;
  outline: none;
  cursor: pointer;
  border: 1px solid #966909;
  color: #966909;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #966909; }
  .orderButton:hover, .orderButton:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909; }
  .orderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888; }
  .orderButton:not(:disabled) {
    animation: enable 0.3s linear; }

.bread__bottom {
  height: 13%;
  width: 80%;
  background: linear-gradient(#F08E4A, #e27b36);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto; }

.bread__top {
  height: 20%;
  width: 80%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  position: relative; }

.seeds1 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: white;
  left: 30%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9; }
  .seeds1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9; }
  .seeds1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9; }

.seeds2 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: white;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px 0 #c9c9c9; }
  .seeds2::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9; }

.meat {
  width: 80%;
  height: 8%;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 15px; }

.cheese {
  width: 90%;
  height: 4.5%;
  margin: 2% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px; }

.salad {
  width: 85%;
  height: 7%;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px; }

.bacon {
  width: 80%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 2% auto; }

.burger {
  margin: auto;
  width: 800px;
  height: 650px;
  overflow: auto;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem; }
  @media only screen and (max-width: 75em) {
    .burger {
      width: 700px;
      height: 600px; } }
  @media only screen and (max-width: 56.25em) {
    .burger {
      width: 450px;
      height: 400px; } }
  @media only screen and (max-width: 37.5em) {
    .burger {
      width: 350px;
      height: 300px; } }

.button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold; }
  .button:first-of-type {
    margin-left: 0;
    padding-left: 0; }
  .button__success {
    color: #5C9210; }
  .button__danger {
    color: #944317; }

.navigationItem {
  margin: 10px 0;
  display: block;
  width: 100%; }
  @media only screen and (min-width: 37.5em) {
    .navigationItem {
      margin: 0;
      height: 100%;
      width: auto;
      display: flex;
      align-items: center; } }
  .navigationItem a {
    color: #8F5C2C;
    width: 100%;
    text-decoration: none;
    display: block; }
    @media only screen and (min-width: 37.5em) {
      .navigationItem a {
        color: #FFF;
        height: 100%;
        width: auto;
        padding: 16px 10px;
        border-bottom: 4px solid transparent; } }
    .navigationItem a:active, .navigationItem a:hover, .navigationItem a.active {
      color: #40A4C8; }
      @media only screen and (min-width: 37.5em) {
        .navigationItem a:active, .navigationItem a:hover, .navigationItem a.active {
          color: #FFF;
          background-color: #8F5C2C;
          border-bottom: 4px solid #40A4C8; } }

.navigationItems {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%; }
  @media only screen and (min-width: 37.5em) {
    .navigationItems {
      flex-flow: row; } }

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.content {
  margin-top: calc(6rem + 1.6rem); }

.logo {
  background-color: #FFF;
  padding: 8px;
  height: 100%;
  border-radius: 5px; }
  .logo > img {
    height: 100%; }

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out; }

@media only screen and (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px); } }

.toolbar {
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 90;
  background-color: #703B09;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .toolbar > nav {
    height: 100%; }

.sideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  padding: 32px 16px;
  background-color: #FFF;
  transition: transform 0.3s ease-out; }
  @media only screen and (min-width: 37.5em) {
    .sideDrawer {
      display: none; } }
  .sideDrawer__open {
    transform: translateX(0); }
  .sideDrawer__close {
    transform: translateX(-100%); }

@media only screen and (max-width: 37.4em) {
  .onlyDesktop {
    display: none; } }
