* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.ABC {
  display: inline-block;
  padding: 16px;
  margin: 16px;
  border: 1px solid red;
  text-align: center; }

p {
  color: yellow; }

.App {
  text-align: center; }
