.toolbar {
    height: $height-toolbar;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 90;
    background-color: #703B09;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & > nav {
        height: 100%;
    }
}

.sideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    padding: 32px 16px;
    background-color: #FFF;
    transition: transform 0.3s ease-out;

    @media only screen and (min-width: 37.5em) {
        display: none;
    }

    &__open {
        transform: translateX(0);
    }

    &__close {
        transform: translateX(-100%);
    }
}

.onlyDesktop {
    @media only screen and (max-width: 37.4em) {
        display: none;
    }
}