@import "abstracts/fuctions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

.ABC {
    display:inline-block;
    padding: 16px;
    margin: 16px;
    border: 1px solid red;
    text-align: center;
}

p {
    color: yellow;
}

.App {
    text-align: center;
}